<h2>Sign in </h2>
	<form id='signIn'>
		<label for='first_name'>first name</label>
		<input type='text' name='first_name' required />
		<label for='last_name'>last name</label>
		<input type='text' name='last_name' required />
		<label for='age'>age</label>
		<input type='number' name='age' required />
		<label for='email'>email</label>
		<input type='email' name='email' required />
		<label for='password'>password</label>
		<input type='password' name='password' required />

		<button type='submit'>Crear usuario</button>
	</form>
