*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 10px;
    background-color: black;
    color: white;
}
nav{

    font-size: 20px;
}
h1, h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 5px;
}
footer{
    text-align: center;
    font-size: 15px;
}
#ingresarTexto{
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#MostrarMensaje{
    margin-top: 20px;
    text-align: center;
}