*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 10px;
    background-color: black;
    color: white;
}

section {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

button {
    background-color: darkblue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block; /* Añade esta línea para que funcione correctamente */
}

nav{
    font-size: 20px;
}
h1, h2, p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 5px;
}
footer{
    text-align: center;
    font-size: 15px;
}