<h2>Chat Socket.io</h2>

<div id="ingresarTexto">
    <input type="text" id="chatBox">
    <button id="botonChat">Enviar</button>
</div>
<div id="MostrarMensaje">
    <p id="parrafosMensajes"></p>
</div>