<h2>Crear nuevo Producto</h2>
<form id="formProduct">
    <label for="title">Title</label>
    <input type="text" name="title" required>
    <label for="description">Description</label>
    <input type="text" name="description" required>
    <label for="category">Category</label>
    <input type="text" name="category" required>
    <label for="price">Price</label>
    <input type="number" name="price" required>
    <label for="thumbnail">Thumbnail</label>
    <input type="text" name="thumbnail" required>
    <label for="stock">Stock</label>
    <input type="number" name="stock" required>
    <label for="code">Code</label>
    <input type="text" name="code" required>
    <button type="submit">Crear Producto</button>
    <h2> Eliminar un producto</h2>
    <input class="controls" type="text" name="id-prod" id="id-prod" placeholder="Ingresar ID" >
    <button class="botons" type="button" id="delete-btn">Eliminar</button>
</form>
<div id="productsDiv">
 <!--   
            <div class="product-container">

            <ul>
                <li>Title: ${prod.title}</li>

                <li>Description: ${prod.description}</li>

                <p>Price: ${prod.price}</p>

                <p>Thumbnail: ${prod.thumbnail}</p>

                <p>Category: ${prod.category}</p>

                <p>Status: ${prod.status}</p>

                <p>Code: ${prod.code}</p>

                <p>Stock: ${prod.stock}</p>

                <p>pid: ${prod.pid}</p>
            </ul>
    </div>
 -->   
</div>